apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-frontend-closed-stable
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: web-frontend-closed
      app.kubernetes.io/version: stable
  template:
    metadata:
      labels:
        app.kubernetes.io/name: web-frontend-closed
        app.kubernetes.io/version: stable
    spec:
      containers:
        - name: closed
          image: gcr.io/upsidr-images/web-frontend/nuxt-main@sha256:f7721934cede66d5d3cc0f037474ff42ccaa892581a1540ef4c3342d1cdab361
          resources:
            limits:
              cpu: 200m
              memory: 500Mi
            requests:
              cpu: 100m
              memory: 300Mi
          env:
            - name: BASE_URL
              value: "https://upsider.app"
            - name: API_ENDPOINT
              value: "https://up-sider.com/api"
            - name: THEMIS_API_ENDPOINT
              value: "https://themis-api.up-sider.com"
            - name: HYDRA_ADMIN_ENDPOINT
              value: "http://hydra-admin.bank.svc.cluster.local:4445"
            - name: MONEYTREE_VAULT_URL
              value: "https://vault.getmoneytree.com"
            - name: MONEYTREE_CLIENT_ID
              value: "4129b7c6cb5957d80d934f8b4e639b57fae79c60788a8dfda27a9313aff14035"
            - name: MONEYTREE_MYACCOUNT_URL
              value: "https://myaccount.getmoneytree.com"
            - name: FIREBASE_API_KEY
              value: "AIzaSyDxYGKddjYi3KMP0vaX-nnHs8_j2ttxgwE"
            - name: FIREBASE_AUTH_DOMAIN
              value: "upsidr-prod-chronos.firebaseapp.com"
            - name: FIREBASE_PROJECT_ID
              value: "upsidr-prod-chronos"
            - name: FIREBASE_APP_ID
              value: "1:416277835968:web:6e66ecf63e1856e8703d25"
            - name: SLACK_APP_CLIENT_ID
              value: "324068338356.2833491578082"
            - name: MIXPANNEL_PROJECT_TOKEN
              value: "0dd05b172f7317f9c464d077737dc2f5"
            - name: ENABLE_EVENT_TRACKING
              value: "true"
            - name: IS_PREPARING_BILLING_MODE
              value: "false"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: cloud.google.com/gke-preemptible
                    operator: In
                    values:
                      - "true"
---
apiVersion: v1
kind: Service
metadata:
  name: web-frontend-closed
spec:
  ports:
    - name: http-closed
      port: 3000
      targetPort: 3000
  selector:
    app.kubernetes.io/name: web-frontend-closed
